* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.body {
  background-color: #252D37;
}

body {
  margin: 0;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
}

::-webkit-scrollbar-thumb{
  background-color: #d3d3d3;
  border-radius: 5px;
  border-right: 2px solid #252D37;
}

::-webkit-scrollbar {
  width: 15px;
}